@import url('https://cdn.streamelements.com/scripts/animate.min.css');
@import url('https://fonts.googleapis.com/css?family=Nunito');

body {
    margin: 0;
    overflow: hidden;
    background-color: transparent; /* Fondo transparente */
    color: #ffffff;
    font-family: 'Arial', sans-serif;
    height: 100vh;
}

.alert-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
    animation: fadeInOut 10s ease-in-out forwards;
    z-index: 10; /* Asegura que el texto esté por encima de las estrellas */
}

.star-rain {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    pointer-events: none;
    z-index: 1; /* Estrellas detrás del texto */
}

.star {
    position: absolute;
    width: 50px;
    height: 50px;
    animation: star-fall 5s linear infinite, colorChange 1s infinite alternate;
}

.alert-text {
    font-size: 36px;
    margin-top: 10px;
    animation: colorChange 1s infinite alternate;
}

#user-message {
    font-size: 36px;
    margin-top: 10px;
    animation: colorChangeText 1s infinite alternate;
    text-shadow: 
        2px 2px 4px rgba(0, 0, 0, 0.5),
        -2px -2px 4px rgba(255, 255, 255, 0.2);
    color: #ffffff;
}

#alert-username,
#alert-amount,
#cheer-amount {
    animation: colorChangeText 1s infinite alternate;
    text-shadow: 
        2px 2px 4px rgba(0, 0, 0, 0.5),
        -2px -2px 4px rgba(255, 255, 255, 0.2);
    color: #ffffff;
}

.elegant-star {
    position: absolute;
    top: -300px; /* Ajusta la posición para que esté pegada al texto */
    left: 50%;
    transform: translateX(-50%);
    width: 400px; /* Aumenta aún más el tamaño de la imagen */
    height: 400px; /* Aumenta aún más el tamaño de la imagen */
    animation: fadeInOut 10s ease-in-out forwards; /* Conserva la animación */
}

@keyframes star-fall {
    0% {
        transform: translateY(-100px) rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: translateY(100vh) rotate(360deg);
        opacity: 0;
    }
}

@keyframes colorChange {
    0% {
        fill: #ff00ff;
        color: #ff00ff;
    }
    50% {
        fill: #00ffff;
        color: #00ffff;
    }
    100% {
        fill: #ffff00;
        color: #ffff00;
    }
}

@keyframes colorChangeText {
    0% {
        color: #ff00ff;
    }
    50% {
        color: #00ffff;
    }
    100% {
        color: #ffff00;
    }
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    10%, 90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
