@import url('https://cdn.streamelements.com/scripts/animate.min.css');
@import url('https://fonts.googleapis.com/css?family=Nunito');

body {
    margin: 0;
    overflow: hidden;
    background-color: transparent; /* Fondo transparente */
    color: #ffffff;
    font-family: 'Arial', sans-serif;
    height: 100vh;
}

.alert-container {
    position: absolute;
    bottom: 50%; /* Ajustado para centrar verticalmente */
    left: 50%;
    transform: translate(-50%, 50%);
    text-align: center;
    opacity: 0;
    animation: fadeInOut 10s ease-in-out forwards, slideUp 5s ease-in-out forwards;
    z-index: 10;
}

.alert-text {
    font-size: 36px; /* Tamaño del texto aumentado */
    font-weight: bold;
    color: #ff00ff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7), 0 0 10px #ff00ff, 0 0 20px #00ffff, 0 0 30px #ffff00; /* Efecto 3D */
    animation: colorChangeText 1s infinite alternate;
}

#alert-username,
#alert-amount,
#cheer-amount {
  	font-size: 36px;
    animation: colorChangeText 1s infinite alternate;
}

.elegant-star {
    position: absolute;
    top: -300px; /* Ajusta la posición para que esté pegada al texto */
    left: 50%;
    transform: translateX(-50%);
    width: 400px; /* Aumenta aún más el tamaño de la imagen */
    height: 400px; /* Aumenta aún más el tamaño de la imagen */
    animation: fadeInOut 10s ease-in-out forwards; /* Conserva la animación */
}

.star-movement {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    pointer-events: none;
    z-index: 1;
}

.star {
    position: absolute;
    width: 40px; /* Tamaño de la estrella ajustado */
    height: 40px;
    top: 50%;
    transform-origin: center;
    animation: colorChangeStar 1s infinite alternate;
}

@keyframes moveStarRightToLeft {
    0% {
        left: 100vw;
    }
    100% {
        left: -40px;
    }
}

@keyframes moveStarLeftToRight {
    0% {
        left: -40px;
    }
    100% {
        left: 100vw;
    }
}

@keyframes colorChangeStar {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

@keyframes colorChangeText {
    0% {
        color: #ff0000;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7), 0 0 10px #ff0000, 0 0 20px #00ff00, 0 0 30px #0000ff;
    }
    25% {
        color: #00ff00;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7), 0 0 10px #00ff00, 0 0 20px #0000ff, 0 0 30px #ffff00;
    }
    50% {
        color: #0000ff;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7), 0 0 10px #0000ff, 0 0 20px #ffff00, 0 0 30px #ff00ff;
    }
    75% {
        color: #ffff00;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7), 0 0 10px #ffff00, 0 0 20px #ff00ff, 0 0 30px #ff0000;
    }
    100% {
        color: #ff00ff;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7), 0 0 10px #ff00ff, 0 0 20px #ff0000, 0 0 30px #00ff00;
    }
}

@keyframes slideUp {
    0% {
        bottom: -100px;
    }
    100% {
        bottom: 50%;
    }
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    10%, 90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
