@import url('https://cdn.streamelements.com/scripts/animate.min.css');
@import url('https://fonts.googleapis.com/css?family=Nunito');

* body {
    margin: 0;
    overflow: hidden;
    background-color: transparent; /* Fondo transparente */
    color: #ffffff;
    font-family: 'Arial', sans-serif;
}

.alert-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
    animation: fadeInOut 10s ease-in-out forwards;
}

.orbit {
    position: relative;
    width: 250px;
    height: 250px;
    margin: 0 auto;
    animation: rotate 10s linear infinite;
}

.alert-container .star {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: center -125px;
    animation: spin 2s linear infinite, colorChange 3s infinite alternate;
}

.left-star {
    transform: translate(-50%, -125px) rotate(0deg);
}

.middle-star {
    transform: translate(-50%, -125px) rotate(120deg);
}

.right-star {
    transform: translate(-50%, -125px) rotate(240deg);
}

.alert-text {
    font-size: 36px;
    margin-top: 10px;
    animation: colorChangeText 1s infinite alternate;
    text-shadow: 
        2px 2px 4px rgba(0, 0, 0, 0.5),
        -2px -2px 4px rgba(255, 255, 255, 0.2);
    color: #ffffff;
}

#user-message {
    font-size: 36px;
    margin-top: 10px;
    animation: colorChangeText 1s infinite alternate;
  	text-shadow: 
        2px 2px 4px rgba(0, 0, 0, 0.5),
        -2px -2px 4px rgba(255, 255, 255, 0.2);
    color: #ffffff;
}

#alert-username,
#alert-amount,
#cheer-amount {
    animation: colorChangeText 1s infinite alternate;
  	text-shadow: 
        2px 2px 4px rgba(0, 0, 0, 0.5),
        -2px -2px 4px rgba(255, 255, 255, 0.2);
    color: #ffffff;
}

.elegant-star {
    position: absolute;
    top: -50px; /* Ajusta la posición para que esté pegada al texto */
    left: 50%;
    transform: translateX(-50%);
    width: 400px; /* Aumenta aún más el tamaño de la imagen */
    height: 400px; /* Aumenta aún más el tamaño de la imagen */
    animation: fadeInOut 10s ease-in-out forwards; /* Conserva la animación */
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes colorChange {
    0% {
        filter: hue-rotate(0deg) brightness(1);
    }
    50% {
        filter: hue-rotate(180deg) brightness(1.5);
    }
    100% {
        filter: hue-rotate(360deg) brightness(1);
    }
}

@keyframes colorChangeText {
    0% {
        color: #ff00ff;
    }
    50% {
        color: #00ffff;
    }
    100% {
        color: #ffff00;
    }
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    20%, 80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
