@import url('https://cdn.streamelements.com/scripts/animate.min.css');
@import url('https://fonts.googleapis.com/css?family=Nunito');

* body {
    margin: 0;
    overflow: hidden;
    background-color: transparent; /* Fondo transparente */
    color: #ffffff;
    font-family: 'Arial', sans-serif;
}

.alert-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
    animation: fadeInOut 5s ease-in-out forwards;
}

.alert-container .star {
    width: 150px;
    height: auto;
    animation: bounce 1s infinite, colorChange 5s infinite alternate;
}

.left-star {
    margin-right: 10px;
}

.right-star {
    margin-left: 10px;
}

.alert-text {
    font-size: 36px;
    margin-top: 10px;
    animation: colorChangeText 1s infinite alternate;
    text-shadow: 
        2px 2px 4px rgba(0, 0, 0, 0.5),
        -2px -2px 4px rgba(255, 255, 255, 0.2);
    color: #ffffff;
}

#user-message {
    font-size: 36px;
    margin-top: 10px;
    animation: colorChangeText 1s infinite alternate;
    text-shadow: 
        2px 2px 4px rgba(0, 0, 0, 0.5),
        -2px -2px 4px rgba(255, 255, 255, 0.2);
    color: #ffffff;
}

#alert-username,
#alert-amount,
#cheer-amount {
    animation: colorChangeText 1s infinite alternate;
    text-shadow: 
        2px 2px 4px rgba(0, 0, 0, 0.5),
        -2px -2px 4px rgba(255, 255, 255, 0.2);
    color: #ffffff;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

@keyframes colorChange {
    0% {
        filter: hue-rotate(0deg);
    }
    50% {
        filter: hue-rotate(180deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

@keyframes colorChangeText {
    0% {
        color: #ff00ff;
    }
    50% {
        color: #00ffff;
    }
    100% {
        color: #ffff00;
    }
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    20%, 80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
